*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

.home-background{
	height: 100vh;
	width: 100%;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: top;
	margin-top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 8px;
    padding-left: 8%;
    padding-right: 0%;
	position: fixed;
	z-index: 2000;
	background-color: white;
    width: 100%;
}

.logo{
	color: rgb(0, 0, 0);
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

.logo span{
	color: #f9004d;
}

h1 span{
	color: #f9004d;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}

nav ul li a{
	color: rgb(58, 26, 26);
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}

.content{
	position: absolute;
	top: 45%;
	left:8%;
	transform: translateY(-50%);
}

h1{
	color: #4f75ff;
	margin: 20px 0px 20px;
	font-size: 75px;
}

h3{
	color: black;
	font-size: 25px;
	margin-bottom: 50px;
}

h4{
	color: black;
	letter-spacing: 2px;
	font-size: 20px;
}

/* .newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}

.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #34495E;
	outline: none;
	border-radius: 30px;
}

.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#34495E;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
} */

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #ffffff;
}

.about img{
	height: auto;
	width: 430px;
}

.about-text{
	width: 550px;
}

.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text h2{
	color: rgb(61, 36, 36);
	font-size: 60px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text h5{
	color: rgb(49, 43, 43);
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	
	text-transform: capitalize;
}
.about-text p{
	color: #34495E;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}

button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.service{
	background: #ffffff;
	width: 100%;
	padding: 100px 0px;
}

.title h2{
	color: rgb(0, 0, 0);
	font-size: 60px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #f7f7f7;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}

h5{
	color: rgb(0, 0, 0);
	font-size: 23px;
	margin-bottom: 15px;
}

.pra p{
	color: rgba(2, 1, 2, 0.8);
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}

.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.contact-me{
	width: 100%;
	height: 290px;
	background: #ffffff;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.contact-me p{
	color: rgb(0, 0, 0);
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

.contact-me .button-two{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}

.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p:nth-child(1){
	font-size: 30px;
	color: rgb(0, 0, 0);
	margin-bottom: 20px;
	font-weight: bold;
}

footer p:nth-child(2){
	color: rgb(0, 0, 0);
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}

.social{
	display: flex;
}

.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #4679bb;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

.end{
	/* position: absolute; */
	color:#000000;
	bottom: 35px;
	font-size: 14px; 
}

.skills-div {
    width: 40%;
    align-items: center;
    margin-left: 30%;
    margin-right: 30px;
}
  
.chart {
	position: relative;
	display: inline-block;
	margin: 20px 10px;
	color: #1b1b1b;
	font-size: 14px;
	text-align: center;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.footer {
	background: #f3f3f3;
	width: 100%;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	z-index: 99;
}

.footer a {
	color: #2c3e50;
}


.parent-loader-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: row;
	flex-wrap: wrap;
}
.loader-container {
	width: 50%;
	height: 50%;
	margin: auto;
	position: relative;
	filter: url(#gooey);
}
.loader-container > * {
	position: absolute;
	display: inline-block;
	left: 0;
	width: 4rem;
	height: 4rem;
	background: #f9004d;
	top: 25%;
	border-radius: 50%;
	animation: loading 4s infinite;
	transform: scale(0.1);
	opacity: 0;
}
.loader-container > *:nth-child(1) {
	animation-delay: 0.5s;
}
.loader-container > *:nth-child(2) {
	animation-delay: 1s;
}
.loader-container > *:nth-child(3) {
	animation-delay: 1.5s;
}
.loader-container > *:nth-child(4) {
	animation-delay: 2s;
}
@keyframes loading {
	50% {
		transform: scale(1.25);
		left: 50%;
		opacity: 1;
   }
	100% {
		transform: scale(0.1);
		left: 100%;
		opacity: 0;
   }
}


a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}